body {
  font-family: 'Inter', sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  width: 300px;
  height: 600px;
  justify-content: center;
  align-items: center;
  /* margin-right: 200px; */
  display: flex;
  background-image: url(/images/pattern-bg.svg), url(/images/pattern-curve.svg);
  background-size: 300px 280px, 19rem 4rem;
  background-repeat: no-repeat, no-repeat;
  background-color: aqua;
  background-position: top, bottom;
}

.pic {
  margin-left: 34px;
  /* margin-right: auto; */
  margin-top: -3rem;
  width: 230px;
  border-radius: 5px;
  box-shadow: 0px 10px 30px;
  display: absolute;
}

.text {
  margin-top: -40px;
}

p {
  width: 300px;
  text-align: center;
  color: hsl(240, 38%, 20%);
}

.Tanya,
.John {
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
}

.Tanya {
  position: relative;
  opacity: 0;
}

.John {
  position: absolute;
  opacity: 1;
}

.thanya_p,
.john_p {
  margin-top: 3rem;
  position: relative;
}

.quote {
  position: absolute;
  width: 3rem;
  margin-top: 3rem;
  margin-left: -11rem;
}

.quote_pic {
  width: 4rem;
}

.review {
  font-size: 17px;
  font-weight: 500;
}

.name {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 15px;
}

.designation {
  margin-top: 0px;
  font-size: 13px;
  color: #808080;
  font-weight: 300;
}

.buttons {
  margin-left: 7rem;
  margin-top: -1.3rem;
  /* display: flex; */
  display: display;
  width: 4rem;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 50px;
}

.prev {
  cursor: pointer;
}

.next {
  margin-left: 2.1rem;
  cursor: pointer;
}
